<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результат добавления</title>
    <style>

        nav{
            background: #64b90e;
            padding: 10px;
        }
        nav a{
            color: #dddddd;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }

        body{
            background: aquamarine;
            text-align: center;

        }


    </style>

</head>

<body>
<nav>
    <a href="/books">Список книг</a>
    <a href="/add_book">Добавить книгу</a>
</nav>

<h1>Книга добавлена</h1>

<div class="wide-block__buttons_tablet"><a href="https://www.rzd.ru/ru/9848" class="wide-block__button btn-red">Подробнее</a></div>

</body>
</html>

